body{
background-color: rgb(194, 242, 226);

}

img{
    max-width: 500px;
}

header {text-align: center;margin: 20px; border-top: solid 1px; border-bottom: solid 1px; font-size: larger; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: rgb(214, 201, 201); }

footer { color: rgb(0, 0, 0); text-align: center; padding: 25px;}


.container{
    display: inline-flex;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: center;
}

.flex-item{
    box-sizing: border-box;
    border: 2px solid rgb(214, 201, 201);
    padding: 15px;
}